<h1>Customers:</h1>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Customer Id</th>
      <th scope="col">Password</th>
      <th scope="col">Customer Type</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Admin</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

      {{#each data_rows}}
        <tr>
          <form method="post">
            <td>{{this.customer_id}}</td>
            <td><input class="form-control" type="text" name='password' value={{this.password}}></td>
            <td><input class="form-control" type="text" name='customer_type' value={{this.customer_type}}></td>
            <td><input class="form-control" type="text" name='name' value="{{this.name}}"></td>
            <td><input class="form-control" type="text" name='phone' value={{this.phone}}></td>
            <td><input class="form-control" type="text" name='is_admin' value={{this.is_admin}}></td>
            <td>
                <input type='hidden' name='customer_id' value = {{this.customer_id}}>
                <input class="btn btn-warning" type='submit' name='EditRow' value ='Update'>
                <input class="btn btn-danger" type = 'submit' name = 'DeleteRow' value='Delete'>
            </td>
          </form>
        </tr>
      {{/each}}
    <form method="post">
      <tr>
        <td></td>
        {{#each column_list}}
        <td><input class="form-control" type="text" name={{this.Field}} id={{this.Field}}></td>
        {{/each}}
        <td><input class="btn btn-success" type = 'submit' name = 'AddRow' value='AddRow'></td>
      </tr>
    </form>
  </tbody>
