<h1>Email Addresses:</h1>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Email ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Is Primary</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      {{#each data_rows}}
        <td>{{this.email_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email_address}}</td>
        <td>{{this.is_primary}}</td>
        <td>
          <form method="post">
            <input type='hidden' name='address_id' value = {{this.email_id}}>
            <input class="btn btn-danger" type = 'submit' name = 'DeleteRow' value='DeleteRow'>
          </form>
        </td>
    </tr>
      {{/each}}
    <form method="post">
      <tr>
        <td></td>
        <td>
          <select class='form-select' name = 'customer_id'>
            {{#each customers}}
            <option value={{customer_id}}>{{name}}</option>
            {{/each}}
          </select>
        </td>
        {{#each column_list}}
        <td><input class="form-control" type="text" name={{this.Field}} id={{this.Field}}></td>
        {{/each}}
        <td><input class="btn btn-success" type = 'submit' name = 'AddRow' value='AddRow'></td>
      </tr>
    </form>
  </tbody>
