<h1>Payment Methods:</h1>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Payment Method Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Type</th>
      <th scope="col">Credit Card Number</th>
      <th scope="col">Pay Pal Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      {{#each data_rows}}
        <td>{{this.payment_method_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.type}}</td>
        <td>{{this.credit_card_number}}</td>
        <td>{{this.paypal_email}}</td>
        <td>
          <form method="post">
            <input type='hidden' name='payment_method_id' value = {{this.payment_method_id}}>
            <input class="btn btn-danger" type='submit' name = 'DeleteRow' value='DeleteRow'>
          </form>
        </td>
    </tr>
      {{/each}}
    <form method="post">
      <tr>
        <td></td>
        <td>
          <select class='form-select' name = 'customer_id'>
            {{#each customers}}
            <option value={{customer_id}}>{{name}}</option>
            {{/each}}
          </select>
        </td>
        {{#each column_list}}
        <td><input class="form-control"  type="text" name={{this.Field}} id={{this.Field}}></td>
        {{/each}}
        <td><input class="btn btn-success" type = 'submit' name = 'AddRow' value='AddRow'></td>
      </tr>
    </form>
  </tbody>
